# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Flask
instance/
.webassets-cache

# Environments
venv/

# Text Editors
*.*~