{% extends "base.html" %}

{% block title %}Wrangle Dataset: "{{ dataset }}"{% endblock %}

{% block page_content %}

<div class="container">

  {% from "bootstrap/form.html" import render_form, render_field, render_form_row %}
  <script>
    function toggleSplitter() {
      var checked = document.getElementById('oneper').checked
      document.getElementById('splitter').disabled = checked
      document.getElementById('split_regex').disabled = checked
    }
  </script>
  {{ render_form(form) }}

  <hr>

  <div class="row">
    <div class="col">
      <h3>Readable Files</h3>
      <ul>
	{% for f in files %}
	<li>{{ f }}</li>
	{% endfor %}
      </ul>
    </div>
    <div class="col">
      <h3>Statistics</h3>
      <ul>
	<li>Total size: {{ tsize }}</li>
	<li>Size of readable files: {{ vsize }}</li>
      </ul>
    </div>
  </div>

</div>

{% endblock %}



